#titleLine {
    font-family: "Manrope";
    position: relative;
    top: 50px;
    left: 50px;
    font-size: 50px;
    color: #1EBD92;
    font-weight: bold;
}

#desc {
    font-family: Manrope;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 38px;
letter-spacing: 0em;
text-align: left;
color: #A9A9A9;
max-width: 500px;
margin-left: 50px;;
    margin-top: 50px;
}